*{
    margin: 0px;
    padding: 0px;

   
}
body{
    font-family: 'Lato', sans-serif;
}

.main-section{
    display: flex;
    height: 100vh;
    background-color: rgba(229,84,115,0.09);
    justify-content: space-between;
    align-items:center;
    padding-right: 170px;
    padding-left: 170px;
    gap: 10px;
   
}
/* primary section title */
.primary-section-title{
    font-weight: 900;
    font-size: 55px;
    color: #272727;
}
/* primary section description */

.primary-section-description{
    color: rgba(39,39,39,0.60);
    width: 80%;
    padding: 25px 0;
}

/* primary button */

.primary-btn{
    padding: 15px 30px;
    color: white;
    background-color: #E55473;
    border:none;
    border-radius: 8px;
}

.main-section-png{
    width: 450px;
}
/* Featured Section */
.featured-section{
 height: 100vh;
 padding-top: 125px;
}
.featured-section-info{
   text-align: center;
}
.featured-title{
    font-weight: 900;
    font-size: 30px;
    color: #272727;
}
.featured-description{
    color: rgba(39,39,39,0.60);
   
   text-align: center;
   width: 50%;
   margin: auto;
}
.featured-section-image{
    display: flex;
    
    justify-content: center;
    align-items: center;
    

}
.featured-png{
    width: 250px;
    height: 330px;
 

}
.featured-section-png1{
    background-color: rgba(167,33,98,0.15);
    padding: 60px 40px 0;
    border-radius: 300px 300px 0 0;
    margin-right: 15px;
}
.featured-section-png2{
    background-color: rgba(5,151,160,0.15);
    padding: 60px 40px 0;
    border-radius: 300px 300px 0 0;
    margin-right: 15px;
}
.featured-section-png3{
    background-color: rgba(71,125,17,0.15);
    padding: 60px 40px 0;
    border-radius: 300px 300px 0 0;
}
.underline{
    display: flex;
    justify-content: center;
    align-items:center;
    width: 80%;
    margin: auto;
    padding: 20px;
}
u{
    margin:  110px;
    font-weight: bold;
    color: #272727;
}
/* Collect flower section */

.collect-flower-section{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(39,39,39,0.09);
    width: 69%;
    margin: auto;
    padding: 50px;
}
.collect-png{
    padding: 0px 120px 10px;
}
.collect-description{
    text-align: center;
 color: rgba(39,39,39,0.60);
}

/* Sale section */
.sale{
    display: flex;
    justify-content:space-around;
    align-items: center;
    height: 85vh;
    background-color: rgba(229,84,115,0.06);
    margin: 85px 0px;
}

span{
    color:#E55473;
}
.sale-info{
  /*  padding-left: 150px;*/
  text-align: center;
}
.sale-png{
    width: 80%;
}
.sale-description{
    color: rgba(39,39,39,0.60);
    padding: 25px;
   
}

/* instagram section */

.instagram-info{
    text-align: center;
    padding: 30px 0px 60px;
    
}

.instagram-image{
    display: flex;
    justify-content: center;
    align-items: center;
}
.instagram-png{
    width: 250px;
    height: 250px;
    padding: 0 10px;
}

/* deals section */

input{
    padding: 15px 160px;
    border-radius: 5px;
    border-style: none;
    margin-right: 10px;
}
.deals{
    text-align: center;


    width: 79%;
    margin: 100px auto;
    background-image: url("./Flower Asset/Rectangle\ 9.png");
     
    padding: 80px 0; 

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* Popular flower section */

.flower-ti{
  text-align: center;
  
  padding: 20px 0;
  font-weight: 700;
  font-size: 30px;
  color: #272727;
}
.flower-des{
   text-align: justify;
   padding: 10px 15px;
   color: rgba(107, 96, 96, 0.9);

}
.flower1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
    box-sizing: border-box;
    box-shadow: 2px 2px 7px gray;
    margin: 20px;
    

}
.flower-img-png{
   height: 200px;
    width: 200px;
    border-radius: 3px 5px 3px;
    box-shadow: 4px 4px 10px gray;

}

.popular-flower{
    width: 80%;
    margin: 50px auto;
    
}
.flw1{
    background-color: rgba(7, 7, 7, 0.1);
}
.flw2{
    background-color: rgba(7, 7, 7, 0.2);
}
.flw3{
    background-color: rgba(7, 7, 7, 0.1);
}
.flw4{
    background-color: rgba(7, 7, 7, 0.2);
}

/* Footer flower section */
.footer-title{
    color: white;
}
.footer-description{
    color: rgba(233, 212, 212,0.8);
}
.footer{
    text-align: center;
    background-color: black;
    padding: 100px 0;
}
.footer-foot{
    color: rgba(255, 255, 255,0.3);
}
